/* nejsme vcerejsi, pouzivame moderni box model */
html {
  box-sizing: border-box;
}
*,
:after,
:before {
  box-sizing: inherit;
}

/* -------------------------------------------------- */

/*
pouzivame mobile first pristup
tj. vychozi styly mimo media query jsou pro nejmensi mobilni zarizeni (telefony)
s pribyvajici sirkou pridavame media query pro...
tablety:
@media (min-width: 480px) {
}
notebook/pc:
@media (min-width: 860px) {
}
*/

body {
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
}

/* ------------------------------- */
/* ----- DOLE BUDE TVOJE CSS ----- */
/* ------------------------------- */

h2 {
  font-family: "Raleway", sans-serif;
}

.recept1 {
  background-image: url(images/burger.jpg);
}
.recept2 {
  background-image: url(images/sushi.jpg);
}
.recept3 {
  background-image: url(images/kure.jpg);
}
.recept4 {
  background-image: url(images/rajcata.jpg);
}
.recept5 {
  background-image: url(images/grilovani.jpg);
}

.hlavniRecept,
.malyRecept {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
  margin: 0;
  text-shadow: 0 5px 10px rgba(red, green, blue, alpha);
}

.hlavniRecept {
}
